<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add an Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<nav th:replace="base :: navlinks"></nav>

<header th:replace="base :: backgroundimage"></header>





<div class="row jumbotron">
    <div class="col-md-6">

        <hr>
        <form method="POST" th:action="@{/processCar}" th:object="${car}"
              enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">

            <a id="addcar">
            <div class="form-group">
                <label for="manufacturerinput">Manufacturer:</label>
                <input id="manufacturerinput"  class="form-control" type="text" th:field="*{manufacturer}" placeholder="Enter the car first manufacturer:" />
            </div>
            </a>

            <div class="form-group">
                <label for="modelinput">Model:</label>
                <input id="modelinput"  class="form-control" type="text" th:field="*{model}" placeholder="Enter the car last Model:" />
            </div>

            <div class="form-group">
                <label for="year">Year:</label>
                <input id="year" class="form-control" type="text" th:field="*{year}" placeholder="Enter the car year: "/>
            </div>

            <div class="form-group">
                <label for="MSRP">MSRP</label>
                <input id="MSRP" class="form-control" type="text" th:field="*{MSRP}" placeholder="Enter car MSRP: "/>
            </div>



            <select th:field="*{category}">
                <div th:each="category: ${categories}">
                    <option th:value="${category.id}" th:text="${category.categoryName}"></option>
                </div>
            </select>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



</div>



<footer class="footer1">
    <div class="container">
        <p class="copyright">Copyright &copy 2020 .</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>