<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<nav th:replace="base :: navlinks"></nav>
<header th:replace="base :: backgroundimage"></header>



<h2><a href="/addCategory#addcategory" class="btn btn-info">Add a Category</a></h2>
<h2><a href="/addCar#addcar" class="btn btn-info">Add a car</a> </h2>
<br>


<h1 style="color: blueviolet"><a href="#">Car Dealership</a></h1>


<div class="card-columns">
     <div th:each="category : ${categories}">



         <div th:each="car: ${category.cars}">
            <div class="card">

            <div class="card-block">

                <div th:if="${car.picture} != null">
                    <img class="img-fluid" th:src="${car.picture}" /><hr />
                </div>

                <div class="card-body">
                    <a th:href="@{/categorydetail/{id}(id=${category.id})}"  class="btn btn-success"> <h4 class="card-title" th:text="${category.categoryName}" ></h4> </a>

                    <div>

                      <strong>Manufacturer: </strong> <p class="card-text" th:text="${car.manufacturer}"></p>
                        <strong>Model:</strong> <p class="card-text" th:text="${car.model}"></p>
                            <strong> Year:</strong> <p class="card-text" th:text="${car.year}"></p>
                                <strong>MSRP:</strong> <p class="card-text" th:text="${car.MSRP}"></p>
                    </div>

                        <td>
                            <a th:href="@{/update/{id}(id=${car.id})}" class="btn btn-primary" >Update</a>
                            <a th:href="@{/detail/{id}(id=${car.id})}" class="btn btn-primary" >Details</a>
                            <a th:href="@{/delete/{id}(id=${car.id})}" class="btn btn-primary">Delete</a>
                        </td></tr>
                        <p style="color: blue">--------------------------------------</p>

                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="base :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>