<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<nav th:replace="base :: navlinks"></nav>


<header class="masthead" style="background-image: url('img/office.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="title col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Companies</h1>
                    <span class="subheading">Scroll down to see the companies list</span>
                </div>
            </div>
        </div>
    </div>
</header>

<h2><a href="/addCompany">Add a Company</a></h2>
<h2><a href="/addEmployee">Add a employee</a> </h2>
<br>



<h1 style="color: blueviolet">Companies list</h1>
<div class="card-columns">
    <div th:each="company : ${companies}">
        <div class="card">
            <div class="card-block">

                <div class="card-body">
                    <h4 class="card-title" th:text="${company.companyName}"></h4>

                    <div th:each="employee: ${company.employees}">

                     First Name:  <p class="card-text" th:text="${employee.employeeFirstName}"></p>
                    Last Name: <p class="card-text" th:text="${employee.employeeLastName}"></p>
                    Position: <p class="card-text" th:text="${employee.employeePosition}"></p>
                    Salary: <p class="card-text" th:text="${employee.employeeSalary}"></p>
                        <p style="color: blue">--------------------------------------</p>

                    </div>

                </div>

                </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="base :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>